*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: linear-gradient(to top right, #9A0DCC, #560AB8);
    --principale-color: #9A0DCC;
    --background-dark: #07090D;
}
